################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inicial/.vs/config
/Inicial/Inicial/obj/Debug
/Inicial/Inicial/bin
/Inicial/Inicial/Inicial.csproj
